*{
    margin: 0;
    padding: 0;
}


* a:visited {
    color: blue;
}


.no-sottolinea {
    text-decoration: none;
}


.bg-blue {
    background-color: cornflowerblue;
}


.logo {
    width: 200px;
    margin: 25px 10px;
}


.margin-title {
    margin: 50px 10px;
}


.bg-yellow {
    background-color: yellow;
}


.margin-phrases {
    margin-top: 10px;
    margin-bottom: 25px;
}

.margin-list {
    margin-bottom: 25px;
}

.table {
    border-collapse: collapse;
    width: 95%;
}

.table th, .table td { text-align: left;
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {background-color: cornflowerblue;
    color: white;
}


.bg-td {
    background-color: rgb(152, 175, 218);
}
    

   .foot-text {
    text-align: center;
    background-color: rgb(37, 37, 224);
    color: white;
    height: 30%;
   }